.specs_sheet {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: row nowrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-evenly;
  flex-direction: column;
}

.row {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: row nowrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.flex-item {
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
  width: 350px;
  min-height: 10px;
  margin-top: 10px;
  line-height: 24px;
  color: var(--color-base-text);
  font-weight: bold;
  font-size: 2.9rem;
  align-items: center;

  min-width: 190px;
  max-width: 500px;
  flex-basis: auto; /* default value */
  flex-grow: 1;
  
}

.flex-item.group-name {
  text-align: left;
  font-size: 1.9rem;
}

.key_value_pair {
  text-align: left;
  min-width: 165px;
}

@media only screen and (min-width: 600px) {
  .key_value_pair {
    min-width: 230px;
  }
}

.specs-sheet-keyname {
  font-size: 1.3rem;
  font-weight: bold
}

.specs-sheet-value {
  margin-left: 3px;
  font-size: 1.3rem;
  color: #93aec3b6;
}

.group_separator {
  align-self: center;
  
  border-bottom: 2px solid;
  border-color: rgba(199, 213, 224, 0.2);
  border-radius: 13px;
  width: 100%;
  height: 0px;
}

.aligner_group {
  width: 26%;
  white-space: nowrap;

}
